#container {
  background-color: #aaa;
  margin: 0 auto;
  min-height: 500px;
  width: 600px;
  column-count: 3;
  column-gap: 10px;
}

.box {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  margin: 10px 0;
  display: inline-block;
  box-sizing: border-box;
}