$black-palette-color: #1e2022;
$dark-grey-palette-color: #52616a;
$light-grey-palette-color: #c9d6de;
$white-palette-color: #f0f5f9;

@import 'components/Gif/index';
@import 'components/GifList/index';
@import 'components/Menu/index';
@import 'components/NavBar/index';
@import 'components/SearchBar/index';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;	
}

html {
	font-size: 62.5%;
}

body {
  font-family: 'mosk', sans-serif;
  background: #121212;
  overflow-y: scroll;
}

.container {
	width: 1040px;
	margin: 0 auto;
}