$black-palette-color: #1e2022;
$dark-grey-palette-color: #52616a;
$light-grey-palette-color: #c9d6de;
$white-palette-color: #f0f5f9;

@import 'components/Gif/index';
@import 'components/GifList/index';
@import 'components/Menu/index';
@import 'components/NavBar/index';
@import 'components/SearchBar/index';